SECRET_KEY=your-secret-key
DEBUG=True

DATABASE_ENGINE=your-database-engine
DATABASE_NAME=your-database-name
DATABASE_USER=your-database-user
DATABASE_PASSWORD=your-database-password
DATABASE_HOST=your-database-host
DATABASE_PORT=your-database-port

CORS_ALLOW_ALL_ORIGINS=True
CORS_URL=your-cors-url