.section-account {
    padding: 12.8rem 0 9.6rem 0;
}

.account-container {
    /* background-color: aqua; */

    /* max-width: 70rem; */
}

.account-text-box {
    margin-bottom: 3.2rem;
}

.account-heading {
    text-align: center;
    font-size: 4.8rem;
}

.form-account {
    /* background-color: red; */

    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    margin: 0 auto;
    max-width: 70rem;
}

.backgroungColor {
    background-color: red !important;
}