.assignments-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3.2rem;
    /* background-color: antiquewhite; */
    min-height: 100vh;
    padding-top: 12.8rem;
    padding-left: 5rem;
}

.box {
    /* background-color: aqua; */
    height: 25rem;
    width: 40rem;
    /* margin-top: 4rem; */
    padding-left: 3rem;
    padding-right: 3rem;

}

.title-assignments {
    font-size: 4.2rem;
    /* padding-left: 3rem; */
    padding-top: 1.3rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.text-assignments {
    font-size: 2.4rem;
    padding-top: 1.3rem;
}

.link-class {
    color: white;
    text-decoration: none;
}

.btn-grad,
.btn-grad:link,
.btn-grad:visited {
    background-color: var(--bg-shade-2);
    border: none;
    padding: 1.6rem 3.2rem;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    font-size: 10rem;
    font-family: inherit;

    transition: .2s;

}

.btn-grad:hover,
.btn-grad:active {
    box-shadow: inset 0 0 0 2px var(--bg-shade-2);
    background-color: transparent;
}

.btn-grad.tes {
    /* border-radius: 60px; */
    height: 25rem;
    width: 40rem;
    text-align: center;
    text-decoration: none;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

.tes {
    font-size: 70rem;
}

.glass-avg {
    display: flex;
    align-items: center;
    padding-right: 15rem;
}