.section-dashboard {
    /* padding: 12.8rem 0 9.6rem 0; */

    min-height: 100vh;

    display: grid;
    grid-template-columns: 24rem auto;
}

.dashboard-sidebar-container {
    background-color: var(--bg-tint-1);
    padding: 12.8rem 3.2rem;
    font-size: 2.4rem;
    /* color: var(--green-tint-2); */
    color: white;
    box-shadow: 0 0 1.2rem var(--bg-tint-1);
}

.dashboard-sidebar {
    position: fixed;
}


.sidebar-personal-info {
    padding-bottom: 1.2rem;
    border-bottom: solid 2px rgba(255, 255, 255, 0.2);
    margin-bottom: 2.4rem;
}

.sidebar-class {
    font-size: 1.4rem;
    line-height: 0.5;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color: var(--green-tint-1);
}

.sidebar-nav-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.sidebar-nav-link:link,
.sidebar-nav-link:visited {
    text-decoration: none;
    color: inherit;
    transition: 0.2s;
}

.sidebar-nav-link:hover,
.sidebar-nav-link:active {
    color: var(--green-tint-1);
}




/* MARKBOOK */
.section-markbook {
    /* padding: 12.8rem 4.8rem 9.6rem 4.8rem; */
    padding-top: 12.8rem;
    min-height: 100vh;
    overflow: auto;
    font-size: 2.4rem;
}

.first-row {
    color: rgba(255, 255, 255, 0.5);
}

.markbook-container {
    width: 100%;
    display: grid;
    /* align-items: center; */
    grid-template-columns: 1fr 3fr auto;
    /* column-gap: 3.2rem; */
    /* row-gap: 1.8rem; */
    margin-bottom: 3.2rem;

    padding: 0 4.8rem;
}

.markbook-grades,
.markbook-subject,
.markbook-average {
    /* border-bottom: solid 1px rgba(255, 255, 255, 0.5);
    border-top: solid 1px rgba(255, 255, 255, 0.5); */
    border: solid 1px rgba(255, 255, 255, 0.5);
    width: 100%;
    /* padding-bottom: 1.2rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem; */
    padding: 1.8rem 1.2rem;
}

.markbook-grades {
    display: flex;
    justify-content: end;
    gap: 1.8rem;
}

.markbook-grade {
    /* background-color: red; */
    padding: 1.8rem;
    height: 1.8rem;
    width: 1.8rem;
    font-size: 1.8rem;

    user-select: none;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    position: relative;
}

.grade-dropdown {
    position: absolute;
    bottom: -1rem;
    right: 0;
    background-color: white;
    transform: translateY(100%);
    z-index: 1;
    padding: 0.8rem;
    font-size: 1.2rem;
    
    border: solid 1px rgba(255, 255, 255, 0.5);
    background-color: var(--bg-tint-1);
}

.markbook-grade.red {
    border: solid 0.5px var(--red);
    box-shadow: 0 0 0.4rem var(--red), inset 0 0 0.4rem var(--red);
}

.markbook-grade.orange {
    border: solid 0.5px var(--orange);
    box-shadow: 0 0 0.4rem var(--orange), inset 0 0 0.4rem var(--orange);
}

.markbook-grade.yellow {
    border: solid 0.5px var(--yellow);
    box-shadow: 0 0 0.4rem var(--yellow), inset 0 0 0.4rem var(--yellow);
}

.markbook-grade.lime {
    border: solid 0.5px var(--green2);
    box-shadow: 0 0 0.4rem var(--green2), inset 0 0 0.4rem var(--green2);
}

.markbook-grade.green {
    border: solid 0.5px var(--green);
    box-shadow: 0 0 0.4rem var(--green), inset 0 0 0.4rem var(--green);
}

.markbook-average {
    justify-self: end;
    text-align: end;
}

.average-container {
    width: 50%;
    margin: 0 auto;
    padding: 1.6rem 3.2rem;
}

.average-container div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.average-grade {
    letter-spacing: 1.5px;
}