@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

:root {
    /* --bg : #171a45; BLUE */
    /* --bg: #17001c; PURPLE */
    /* --bg: #060e07; */
    --bg: #0c1720;
    --bg-shade-1: #081016;

    --main-gradient: linear-gradient(150deg, rgba(4, 170, 107, 1) 0%, rgba(62, 7, 156, 1) 51%, rgba(214, 0, 255, 1) 100%);
    /* --main-gradient: linear-gradient(150deg, rgba(4, 170, 107, 1) 0%, rgba(62, 7, 156, 1) 51%); */

    /* --pink: #FF10F0;
    --pink-tint-1: #ff58f5;

    --blue: #04d9ff;
    --blue-tint-1: #82ecff; */

    /* --green: #39FF14;
    --green-tint-1: #9cff8a; */


    /* --green: #3b8a49;
    --green-tint-1: #89b992; */

    /* W3 SCHOOLS */
    --green-shade-1: #025536;
    --green: #04aa6b;
    --green-tint-1: #68cca6;

    --green2: #53D16E;
    --green2-tint-1: #98e3a8;


    /* --purple: #580091;
    --purple-tint-1: #bc99d3; */

    /* --purple: #58256d;
    --purple-tint-1: #79518a; */

    --purple: #D600FF;
    --purple-tint-1: #e666ff;

    /* --orange: #f16641;
    --orange-tint-1: #f9c2b3; */

    --blue: #008efd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html {
    background-color: var(--bg);
    color: white;
    font-size: 62.5%;
    font-family: 'Madimi One', sans-serif;
}

.test {
    width: 32rem;
    font-size: 3.2rem;
    text-align: center;
    margin: 3.2rem;
    border: solid 2px white;
    padding: 2.4rem;
}

/* .pink {
    box-shadow: 0 0 1.2rem var(--pink), inset 0 0 1.2rem var(--pink);
    border: solid 2px var(--pink-tint-1);
} */

/* .blue {
    box-shadow: 0 0 1.2rem var(--blue), inset 0 0 1.2rem var(--blue);
    border: solid 2px var(--blue-tint-1);
} */

.green {
    box-shadow: 0 0 1.2rem var(--green), inset 0 0 1.2rem var(--green);
    border: solid 2px var(--green-tint-1);
    color: var(--green-tint-1);
}

.green2 {
    border: solid 2px var(--green2);
    color: var(--green2);
}

.purple {
    /* box-shadow: 0 0 1.2rem var(--purple), inset 0 0 1.2rem var(--purple); */
    border: solid 2px var(--purple);
    color: var(--purple);
    /* border: solid 2px white; */
}

/* .orange {
    box-shadow: 0 0 1.2rem var(--orange), inset 0 0 1.2rem var(--orange);
    border: solid 2px var(--orange-tint-1);
    /* border: solid 2px white; */
/* }  */


.btn,
.btn:link,
.btn:visited {
    background-color: var(--green);
    border: none;
    padding: 1.6rem 3.2rem;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    font-size: 1.8rem;
    font-family: inherit;

    transition: .2s;
}

.btn:hover,
.btn:active {
    box-shadow: inset 0 0 0 2px var(--green);
    background-color: transparent;
}