.section-main {
    background: var(--bg);

    min-height: 100vh;

    padding: 12.8rem 0 15rem 0;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 4.5rem;
    /* background-color: aqua; */
    align-items: center;
    /* margin-left: 17rem; */
    /* margin-top: 5rem; */
}

.main-textbox {
    padding: 0 1.6rem;
}

.heading {
    /* background-color: aqua; */
    padding-left: 3px;
    font-size: 10rem;
    margin-bottom: 1rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    background: 3px var(--main-gradient);
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.5rem transparent;
    color: var(--bg);

}



.main-text {
    grid-column: 1;
    font-size: 2rem;
    line-height: 1.8;
    /* color: var(--main); */
    margin-bottom: 3.2rem;
    /* background-color: yellowgreen; */
}

.main-img {
    grid-column: 2;
    width: 75%;
    /* display: block; */

    filter: saturate(50%);
    filter: brightness(150%);
}