.info-container {
    min-height: 100vh;
    background-color: rgb(109, 116, 121, 0.3);
    padding-top: 12.8rem;
    /* padding-left: 40.7rem; */
    /* opacity: 0.2; */
}

.main-info {
    position: relative;
    height: 40rem;
    width: 100rem;
    background-color: aqua;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;

}

.info-btn {
    position: absolute;
    width: 20rem;
    height: 4rem;
    border: none;
    border-radius: 15px;
    bottom: 3rem;
    right: 3rem;

}

.title {

    font-size: 7rem;
    text-align: center;
    top: 3rem;
    padding-top: 2.4rem;
    padding-bottom: 2rem;
}